# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.venv/

#VS code
*.code-workspace

# Output folders
噗浪JS圖片備份_精確分類/
plurk_images_by_date/

# Backup data (user's personal data)
data/
backup/
log/

# OS
.DS_Store
Thumbs.db
tmp/
msg.txt
